.userList{
    flex: 4;
    padding: 40px;
}

.userListUser{
    display: flex;
    align-items :center;
}
   
.userListEdit{
    border: none;
    border-radius:10px;
    padding: 5px 10px;
    background-color: rgb(47, 25, 148);
    color: aliceblue;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer ;
}

.userAddButtonList{
    width: 200px;
    border: none;
    padding: 10px;
    background-color: blue;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.ajoutBTN{
    text-align: right;
    padding-right: 40px;
    padding-top: 40px;
}

